<div>
  <a href="#" class="btn btn--outline">Buy Now</a>
</div>

<div>
  <a class="btn btn--primary btn--block" href="#">Sign In</a>
  <a class="btn btn--secondary btn--block" href="#">Sign Up</a>
</div>

<div>
  <button class="btn btn--primary btn--block">Get Started</button>
  <button class="btn btn--secondary btn--block">Get Started</button>
  <button class="btn btn--accent btn--block">Get Started</button>
</div>
<div>
  <button class="btn btn--primary">Get Started</button>
  <button class="btn btn--secondary">Get Started</button>
  <button class="btn btn--accent">Get Started</button>
</div>